body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr 6fr;
    min-height: 100vh;
}

.header {
    background-color: white;
}

.body {
    background-color: #F0EEF1;
}